<!-- 
 Created by Matthew G da Silva
 11/02/2025

 code modified from https://github.com/Code-Institute-Solutions/blog/blob/main/08_templates/01_base_template/index.html
 from CodeInstitute
\-->
{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- explore_habits.html content starts here -->
<div class="container-fluid h-100">
    <div class="col-md-6 mx-auto my-3">
        <div class="input-group">
            <input id="searchUserInput" type="text" class="form-control" placeholder="username" aria-label="username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button id="searchUserBtn" class="btn btn-outline-primary" type="button">Search Users</button>
            </div>
        </div>    
    </div>
    <div class="row">        
        <!-- List of Habits -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for habit in habits %}
                <!-- Habit & calendar -->
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">User: <a href="{% url 'user_habits' habit.user %}">{{ habit.user }}</a></p>
                                </div>
                            </div>
                            <h2 class="card-title">{{ habit.title }}</h2>
                            <hr />                              
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /. Habit & calendar -->
                 <!-- Data and reaction -->
                <div class="col-md-4 text-center my-auto">
                    <div class="row">
                        <div class="col">
                            <p>Last Check-in:</p>
                            <p>{{ habit.check_ins.first.checked_in_on|default:"none" }}</p>
                        </div>
                        <div class="col">
                            <p>Current Streak:</p>
                            <p>{{ habit.streak_number }}</p>
                        </div>
                        <div class="col">
                            <p>React:</p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button data-habit-id="{{ habit.id }}"  data-habit-user="{{ habit.user }}" data-user="{{ user.username }}" 
                                data-reaction-type="0" type="button" class="btn btn-outline-primary reactBtn">
                                    👏
                                </button>
                                <button data-habit-id="{{ habit.id }}"  data-habit-user="{{ habit.user }}" data-user="{{ user.username }}" 
                                data-reaction-type="1" type="button" class="btn btn-outline-primary reactBtn">
                                    👍
                                </button>
                                <button data-habit-id="{{ habit.id }}"  data-habit-user="{{ habit.user }}" data-user="{{ user.username }}" 
                                data-reaction-type="2" type="button" class="btn btn-outline-primary reactBtn">
                                    ♥️
                                </button>
                                <button data-habit-id="{{ habit.id }}"  data-habit-user="{{ habit.user }}" data-user="{{ user.username }}" 
                                data-reaction-type="3" type="button" class="btn btn-outline-primary">
                                    🏆
                                </button>                                
                            </div>                    
                        </div>
                    </div>                    
                </div>
                <!-- Data and reaction -->
                {% if forloop.counter|divisibleby:3 %}
            </div>            
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <div class="mt-max">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>


<!-- Reaction In confirmation modal -->
<div class="modal fade" id="reactModal" tabindex="-1"
aria-labelledby="reactModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"
        id="reactModalLabel">Confirm Reaction</h5>
      <button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">        
      <!-- <input type="text" class="form-control" id="checkInNotes" name="checkInNotes" placeholder="Notes"> -->
       <form id="reactForm" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary btn-sm"
        data-bs-dismiss="modal" formnovalidate>Cancel</button>
        <button id="reactConfirm" type="submit"
        class="btn btn-success btn-sm">Confirm</button>                
       </form>
    </div>
  </div>
</div>
</div>

<!-- explore_habits.html content ends here -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/calendarHeatmap.js' %}"></script>
    <script src="{% static 'js/reactionsElement.js' %}"></script>
    <script src="{% static 'js/userReaction.js' %}"></script>
    <script src="{% static 'js/searchUserInput.js' %}"></script>
{% endblock %}