<!-- 
 Created by Matthew G da Silva
 11/02/2025

 code modified from https://github.com/Code-Institute-Solutions/blog/blob/main/08_templates/01_base_template/index.html
 from CodeInstitute
\-->
{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid h-100">
    <!-- <div class="text-center mt-3">
        <a href="#" class="btn btn-primary btn-sm">Search for other users</a>
    </div> -->

    <p>user: {{ h_user }}</p>

    {% if user.is_authenticated and user.username == h_user %}
    <p>this is you profile {{ user.username }}</p>
    <form id="habitForm" method="post"
    style="display: none;">
        {{ habit_form | crispy }}
        {% csrf_token %}
        <button id="habitFormSubmitBtn" type="submit"
        class="btn btn-primary btn-sm">Submit</button>
        <button id="habitFormCancelBtn"
        class="btn btn-warning btn-sm" formnovalidate >Cancel</button>
    </form>
    <div class="text-center mt-3">
        <a href="#" id="createHabitBtn" class="btn btn-primary btn-sm">Create new habit</a>
    </div>
    {% endif %}

    <div class="row">        
        <!-- List of Habits -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for habit in habits %}
                <!-- Habit & calendar -->
                <div class="col-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash d-flex justify-content-between">
                                    <p class="author">User: {{ habit.user }}</p>
                                    <button id="checkInBtn" type="button" class="btn btn-outline-success btn-sm">Check In</button>                                   
                                </div>
                            </div>
                            <h2 class="card-title">
                                {{ habit.title }} 
                                <span>
                                    <button type="button" class="btn btn-outline-secondary btn-sm ms-3"
                                    data-bs-toggle="tooltip"  data-bs-html="true" data-bs-placement="right" 
                                    title="{{ habit.description | safe }}">
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                </span>
                            </h2>
                            <hr />                              
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /. Habit & calendar -->
                 <!-- Data and reaction -->
                <div class="col-4 text-center my-auto">
                    <div class="row">
                        <div class="col">
                            <p>Last Checked in:</p>
                            <p>date</p>
                        </div>
                        <div class="col">
                            <p>Current Streak:</p>
                            <p>num</p>
                        </div>
                        <div class="col">
                            {% if user.is_authenticated and user.username == h_user %}
                            <a href="#" class="btn btn-primary btn-sm">edit</a>
                            <button class="btn btn-danger btn-sm btn-delete" habit_id="{{ habit.id }}">delete</button>
                            {% else %}
                            <p>React:</p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-primary">👏</button>
                                <button type="button" class="btn btn-outline-primary">👍</button>
                                <button type="button" class="btn btn-outline-primary">♥️</button>
                                <button type="button" class="btn btn-outline-primary">🏆</button>                                
                            </div> 
                            {% endif %}                       
                        </div>
                    </div>                    
                </div>
                <!-- Data and reaction -->
                {% if forloop.counter|divisibleby:3 %}
            </div>            
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <div class="mt-max">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- explore_habits.html content ends here -->
{% endblock %}