<!-- 
 Created by Matthew G da Silva
 11/02/2025

 code modified from https://github.com/Code-Institute-Solutions/blog/blob/main/08_templates/01_base_template/index.html
 from CodeInstitute
\-->
{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid h-100">
    <!-- <div class="text-center mt-3">
        <a href="#" class="btn btn-primary btn-sm">Search for other users</a>
    </div> -->

    <p>user: {{ user }}</p>

    <div class="row">        
        <!-- List of Habits -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for habit in habits %}
                <!-- Habit & calendar -->
                <div class="col-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">User: {{ habit.user }}</a></p>
                                </div>
                            </div>
                            <h2 class="card-title">{{ habit.title }}</h2>
                            <hr />                              
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /. Habit & calendar -->
                 <!-- Data and reaction -->
                <div class="col-4 text-center my-auto">
                    <div class="row">
                        <div class="col">
                            <p>Last Checked in:</p>
                            <p>date</p>
                        </div>
                        <div class="col">
                            <p>Current Streak:</p>
                            <p>num</p>
                        </div>
                        <div class="col">
                            React:
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-primary">👏</button>
                                <button type="button" class="btn btn-outline-primary">👍</button>
                                <button type="button" class="btn btn-outline-primary">♥️</button>
                                <button type="button" class="btn btn-outline-primary">🏆</button>                                
                            </div>                        
                        </div>
                    </div>                    
                </div>
                <!-- Data and reaction -->
                {% if forloop.counter|divisibleby:3 %}
            </div>            
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <div class="mt-max">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>

<!-- explore_habits.html content ends here -->
{% endblock %}